// Colors
$dark-grey: #333333;
$grey: #888;
$dim-grey: #696969;
$dodger-blue: #1E90FF;
$dark-blue: #364051;
$white: #FFFFFF;
$snow: #FFFAFA;
$ghost-white: #F8F8FF;
$azure: #F0FFFF;


// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Font size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;


